*DS_Store
._*
**/*.ipynb_checkpoints
*.ipynb_checkpoints
*.pyc
dataset/final_data+synth+mosaic
dataset/final_data+synth+mosaic_rebalanced
.idea/
.virtual_documents
**/*.record
**/*.tfrecord
**/ckpt-*
.vscode/settings.json
*.json
*.mp4
*.tfevents.*
dataset/**/*.jpg
dataset/**/*.xml
!tracking/eval_data/SeqLabel.json
!yolov5/data/1.jpg
!yolov5/data/bees_demo1.mp4
