{% extends "./nav.html" %}

{% block title %}
Demo
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>BeeWatch</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
        <div class="text-center">
            <img id=img_lamp src="{{url_for('static', filename='./images/1.jpg')}}" class="img-fluid" alt="Responsive image">
        </div>

    </div><!-- /.container -->
{% endblock %}
