{% extends "./nav.html" %}

{% block title %}
Model Log
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Model Log</h1>
          <div class="span3">
          <table class="table table-hover table-striped">
             <thead class="thead-dark">
                <tr>
                    <th scope="col">Model Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Performance</th>
                </tr>
             </thead>

             <tbody>
                   <tr>
                        <th scope="row">SSD</th>
                        <td>25.06.2021</td>
                        <td>43,4</td>
                   </tr>
             </tbody>
          </table>
          </div>
        </div>

      </div>
    </div>

{% endblock %}
